extends layout

block content
	section.row
		section.col-md-12
			div#carousel.carousel.slide(data-ride="carousel")
				div.carousel-inner#content
					-each article,k in slides
						div.item(class=(k==0 ? "active" : ""), id=article._id)
							div.row
										
								div.col-md-12(style='position:relative;height:450px;padding-left:0;background:url(/files/'+article.image+') no-repeat;background-size: cover;')
									div.slide-bottom
										section(style='padding:10px')
											h1(style='color:white; font-weight: bolder;')=article.name
											
											h4(style='color:white; font-weight: bolder;')=article.description
									//img(src="/files/" + article.image).img-responsive

				a.left.carousel-control(href="#carousel", data-slide="prev").hide
					span.glyphicon.glyphicon-chevron-left
				a.right.carousel-control(href="#carousel", data-slide="next").hide
					span.glyphicon.glyphicon-chevron-right
			br
		hr
	section.row
		section.col-md-12
			-each article,k in slides
				section.col-md-3
					section.row.carousel-mover(id="subitem_" + article._id, class=(k==0 ? "active" : ""), data-index=k, style='background:url(/files/'+article.image+') no-repeat;background-size: cover;')
						h4=article.name
	section.row
		section#welcome
			h1.big-heading Welcome to Platinum Cristallo Holdings
			p At Platinum Cristallo Holdings we are committed to improving the quality of lifestyle in the communities we serve, We do this by striving for leadership and global competitiveness in the business sectors we operate in.
			br
	hr
	section
		section.row
			section.col-md-4
				h3 Services
				-each item in services
					a(href='#')
						-if(!item.name) item.name = ""
						h4 #{item.name}
						-var fimg = item.image;
						section(style='height: 170px;background:url(/files/medium'+fimg+') no-repeat;background-size: cover;')
						//img(src='/files/medium' + fimg);
				a(href='/projects') View more
			section.col-md-4
				h3 Portfolio
				-if(project)
					h4=project.name
					section(style='height: 170px;background:url(/files/'+ project.images[0]+') no-repeat;background-size: cover;')
					//img(src='/files/' + project.images[0]).img-responsive
					p
						| #{project.description}
						span &nbsp;
						a(href='/project/' + project._id) Read more
			section.col-md-4
				h3 Reach us
				h5 Call us at
				p
					strong Tel: 
					small +960 301-6707 / +960 778-1429 / +960 779-7161
						
				p
					strong Email: 
					small sales@platinumcristalloholdings.com
						
